*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
{
    .inpt{
        height: 20%;
        width: 100%;
        
    }
    div {
        max-width: 80%;
        width: 50%;
        padding: 3%;
        }
      #link{
        text-align: center;
        width: 90%;
        height: auto;
    }
}   
@media (min-width: 768px) {
    #login {
        width: 100%;
        max-width: 600px;
    }

    .inpt{
        max-width: 600px;
        height: 20%;
        width: 100%;
        
    }
}
@media (max-width: 1024px) 
{ 
    #login {
        width: 50%;
    }
    div {
        max-width: 80%;
        width: 90%;
        padding: 8%;
        }
        .inpt{
            max-width: 600px;
            height: 10%;
            width: 90%;
            
        }
        h2{
            text-align: center;
            margin-bottom: 10%;
        }
        #link{
            text-align: center;
            width:auto;
        }
        
        
}
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin-bottom: 10%;
    text-decoration: solid underline;
}
body{
background-image: url(bg_resized.jpg);
background-size: cover;
background-position:center;
background-attachment: fixed;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
height: 100vh;
align-items: center;
}
#login{
    border: 2px solid whitesmoke;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 2px 2px inherit;
    max-width: 440px;
    padding:5%; 
    width: 90%;
    height: auto;
    }
.inpt{
    display: flex;
    text-align: center;
    background-color: transparent;
    border: none;
    margin-bottom: 15%;
    margin-top: 0%;
    height: 20%;
    width: 100%;
    border-bottom: 2px solid rgb(17, 11, 11);
    border-radius: 10px;
    padding: 5%;
    position: relative;
    transition: all 0.3s ease-in-out;  
}
.inpt+span{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.inpt::placeholder{
    color: rgb(17, 11, 11);
    font-size: 17px;
    text-align: center;
}
.inpt::placeholder:focus{
    font-size: 54%;
}
.inpt:hover{
    border-radius: 10px;
}
.inpt:focus{
    border: none;
}

#btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
}
#btn:hover{
    background-color: darkgreen;
}
#link{
    text-align: center;
    margin-top: 10%;
    color: rgb(219, 216, 216);
}
#link:hover{
    color: green;
}

